
body {
  font-family: Arial, sans-serif;
 padding: 0 10vw;

}

#hero-section {
  height: 100vh;
  width: 100%;
}
#hero-section h1 {
  font-size: 5rem;
  text-align: center;
}
#hero-section p {
  font-size: 2rem;
  text-align: center;
}

.drama-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.featured-drama{text-align: center;}
.featured-drama h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.featured-drama p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.card {
  width: 100%;
  min-width: 300px;
  max-width: 500px;

  border: 2px solid black;
  border-radius: 5px;

}
.card h3 {
  font-size: 1.5rem;
}
.card p {
  font-size: 1rem;
}
.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.spotlight-drama {
  border: 2px solid black;      /* px = UI detail ✔ */
  border-radius: 0.5rem;        /* rem = scalable ✔ */

  padding: 4rem 5vw;            /* rem + vw ✔ */
  margin-top: 5rem;             /* rem ✔ */

  width: 100%;                  /* % ✔ */
  min-height: 100vh;             /* vh ✔ */

  box-sizing: border-box;
}

.spotlight-drama h2 {
  font-size: 3rem;              /* rem ✔ */
  margin-bottom: 1rem;          /* rem ✔ */
}
.spotlight-drama h3 {
  font-size: 1.5rem;            /* rem ✔ */
  margin-bottom: 1rem;          /* rem ✔ */
}
.spotlight-drama p {
  font-size: 1.25rem;           /* rem ✔ */
  margin-bottom: 2rem;          /* rem ✔ */
}
.spotlight-drama img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
