header{display: flex; justify-content: space-between; padding: 1rem 2rem; align-items: center; }

header nav ul{display:flex;flex-direction: row;list-style-type: none; padding: 1rem 2rem; gap: 2rem;flex-wrap: wrap; }