.container{display: grid;
grid-template-columns: 5rem 5rem 5rem 5rem;
grid-template-rows: 5rem 5rem 5rem;}
.item {
  background-color: #eee;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.item-1{grid-column: 1/3;
grid-row: 1/3;}
