/*class selectors*/
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card.blue {
  border: 1px solid blue;
  border-radius: 5px;
}
.card-image {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-title.large {
  font-size: 24px;
}
.card-text {
  font-size: 14px;
  line-height: 1.5;
}

.card-button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

/*id selectors*/
#featured-section {
  background-color: #e9ecef;
  padding: 20px;
  border: 1px solid #dee2e6;
  text-align: center;
}

#featured-section h2 {
  color: #007bff;
}

#featured-section a {
  color: #007bff;
  text-decoration: none;
}

#featured-section a:hover {
  text-decoration: underline;
}

/*attribute selectors*/
a[href] {
  color: blue;
  text-decoration: none;
}

p[title] {
  font-style: italic;
}
div[data-theme="dark"] {
  background-color: #333;
  color: white;
}

div[data-theme="light"] {
  background-color: #fff;
  color: black;
}
/*grouping selectors*/
strong, em {
  color: darkred;
  font-weight: bold; /* For <em> elements, this will effectively make them stand out */
}