* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* FLEX CONTAINER */
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
justify-content: center;
align-items: center;
padding: 1rem 2rem;
height: 100vh;
}

/* FLEX ITEMS */
.card {
  background: #4f46e5;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  height: 100px;
}
