/* index.html style */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 1px black;
  margin: 0;
}
header nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main {
  padding: 1rem 2rem;
}
.hero-section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cta-ctr {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.cta-ctr button {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.today-recommend-section {
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.story,
.testimonials {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border: solid 1px black;
}
.newsletter-section {
  border: 1px solid black;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.testimonials p::before {
  content: "“";
}
.testimonials p::after {
  content: "”";
}
/* menu style */
.menu-section{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
 align-items: center;
   
}

.menu-list{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2rem;
border: solid 1px black;
padding: 1rem 2rem;
align-items: stretch;


  
}
.drinks-list, .sweets-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: flex-start; /* or just remove justify-content */
  align-items: stretch; 
    /* optional: makes categories full width */
}
.menu__category {
  display: flex;
  flex-direction: column;
gap: 0.75rem; 
  
}
.menu__list{display: flex;flex-direction: column;gap: 0.5rem;}
.menu__title {
  margin: 0;

}
.menu__list dd { margin: 0; }
.menu__list dt { margin: 0; }
