:root {
  --color-bg: #F2E3BB;
  --color-surface: #F9F7EE;
  --color-text-primary: #005F02;
  --color-text-secondary: #427A43;
  --color-primary: #427A43;
  --color-primary-hover: #005F02;
  --color-accent: #C0B87A;
  --color-border: #D9D2A6;
}
