header{display: flex;justify-content: space-between; align-items: center;padding: 1rem 2rem;}
header img{width: 50px; height: auto;}
header ul{display: flex;gap: 10px;list-style: none; padding: 0;
    margin: 0;}
.card-list{display:flex;gap: 10px;flex-wrap: wrap;justify-content: center;}


.card h3{font-size: 1.5rem;font-weight: bold;}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    max-width: 300px;
    flex: 1 1 250px;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card p {
    flex-grow: 1;
  }
  
.card button{width: 100px;height: 30px;background-color: black;color: white;border-radius: 5px;border: none;cursor: pointer;}